body {
    margin: 0px;
}
/* Nav Bar Starts */
header {
    background-image: linear-gradient(to left,#CCF27F,#F5D149);
    height:600px;
}
#NavBar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#Navigation {
    list-style: none;
    display: flex;
    justify-content: flex-start;
     font-family: 'Inter';
     font-weight: 500;
     font-size: 23px;
     color:#8B323A;
}

#Navigation .First {
    margin-right: 8%;
}



#Download {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 5% ;
     font-family: 'Inter';
     font-weight: 500;
     font-size: 23px;
     color:#8B323A;
     text-decoration:underline;
}
/* Nav Bar Ends */

/* Header Starts */
header section {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    column-gap: 7%;
    margin-left: 10%;
}

#LeftColumn {
    display: grid;
    grid-template-rows: 40% 23% 37%;
    margin: 0px;
}

#Logo {
    margin-left: 27%;
}

header section h2 {
    display: flex;
    justify-content: center;
     font-family: 'Inter';
     font-weight: 700;
     font-size: 40px;
     color:#FFFFFF;
}

header section h3 {
    padding-top: 1%;
      font-family: 'Inter';
      font-weight: 500;
      font-size: 23px;
      color:#FFFFFF;
}

#LeftColumn .maroon {
    color:#8B323A;
}

/* Main Body Starts */
#MainBody {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 50px;
    margin: 3.5%;
    row-gap: 50px;
    margin-left: 7%;
}

#Verified {
    margin-left: 10%;
}

#MainBody h3 {
     font-family: 'Inter';
     font-weight: 500;
     font-size: 23px;
     margin-top: 10%;
}

#MainBody p {
    font-family: 'Inter';
    font-weight: 200;
    font-size: 20px;
    margin: 0;
}

.Features {
    height: 50px;
    margin-left: -40%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
     font-family: 'Inter';
     color:#8B323A;
}

/* Footer Starts */
footer {
    background-image: linear-gradient(to left,#CCF27F,#F5D149);
    height:125px;
}

#MailingList {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    padding:0px;
    border-color: #8B323A;
}

#Form h2 {
    margin: 5px;
     font-family: 'Inter';
     font-weight: 700;
     font-size: 30px;
     color:#FFFFFF;
}

input {
    width:300px;
    height: 25px
}